snippet lorem "Ajoute du lorem ipsum" 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend quam quam, et ultrices libero ullamcorper non. Nullam imperdiet iaculis mi, pretium fermentum arcu. Integer eu tellus lacus. Morbi scelerisque nisi leo, ac fermentum quam tincidunt eu. Donec vitae leo sit amet sem porta feugiat. Etiam nec tortor et lorem posuere tincidunt. Mauris aliquet tortor quis diam vestibulum, sit amet vehicula neque venenatis. Suspendisse aliquet eget tellus sit amet tincidunt. Aliquam augue orci, eleifend ac eros non, placerat sagittis ligula. 
endsnippet

