snippet #! "Shebang for python" b
#!/usr/bin/python3.8
endsnippet

snippet def "Function" b
def ${1:fun}(${2:args}):
	$0
endsnippet

snippet np "Import numpy" b
import numpy as np

endsnippet

snippet for "For loop"
for ${1:Var} in ${2:Iterable}:
	
endsnippet

snippet class "Class" b
class $1:
	def __init__(self, ${2:*args}):
		$0
endsnippet
